name: Test installation Geogramint

on:
    push:
      branches: [ master ]
    pull_request:
      branches: [ master ]

jobs:
    AllVersions:
      name: Testing on Python
      runs-on: ubuntu-latest
      strategy:
          matrix:
            version: ["3.9", "3.10", "3.11"]
      steps:
          - uses: actions/checkout@master
          - name: Initialize Python ${{ matrix.version }}
            uses: actions/setup-python@v4
            with:
              python-version: ${{ matrix.version }}
          - name: Install dependencies
            run: |
                python -m pip install --upgrade pip
                python -m pip install -r requirements.txt
